<ul>
    <li><a href="calculadora" name ="calculadora">Calculadora</a></li>
    <li><a href="codificador">Codificador base64</a></li>
    <li><a href="recetario">Recetario</a></li>
    <li><a href="hanging">Juego del ahorcado</a></li>
    <li><a href="compresorzip">Convertidor zip</a></li>
    <li><a href="pdftoword">Convertidor de archivos</a></li>
    <li><a href="mailsender">Email sender</a></li>
    <li><a href="smssender">SMS Sender</a></li>
    <li><a href="controlescolar">Control Escolar</a></li>
    <li><a href="controlhospital">Control de hospital</a></li>
</ul>