{%extends 'base.html'%}

{% block body %}

<h2>{{the_title}}</h2>
<link rel="stylesheet" href="static/hf.css">

<ul>
    <li><a href="templates/calculadora.html">Calculadora</a></li>
    <li><a href="templates/codificador.html">Codificador base64</a></li>
    <li><a href="templates/recetario.html">Recetario</a></li>
    <li><a href="templates/hanging.html">Juego del ahorcado</a></li>
    <li><a href="templates/compresorzip.html">Convertidor zip</a></li>
    <li><a href="templatespdftoword.html">Convertidor de archivos</a></li>
    <li><a href="mailsender.html">Email sender</a></li>
    <li><a href="smssender.html">SMS Sender</a></li>
    <li><a href="controlescolar.html">Control Escolar</a></li>
    <li><a href="controlhospital.html">Control de hospital</a></li>
</ul>

{%endblock%}