<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <ul>
        <li><a href="C:/python/paginaWeb/templates/calculadora.html">Calculadora</a></li>
        <li><a href="">Codificador base64</a></li>
        <li><a href="">Recetario</a></li>
        <li><a href="">Juego del ahorcado</a></li>
        <li><a href="">Convertidor zip</a></li>
        <li><a href="">Convertidor de archivos</a></li>
        <li><a href="">Email sender</a></li>
        <li><a href="">SMS Sender</a></li>
        <li><a href="">Control Escolar</a></li>
        <li><a href="">Control de hospital</a></li>
    </ul>
</body>
</html>