{%extends 'base.html'%}

{% block body %}

<h2>{{the_title}}</h2>
<link rel="stylesheet" href="static/hf.css">
<div>

    <form action="recetario" method="POST">
        Nombre de la receta: <input type="text" name="titulo">
        Breve descripción: <input type="textarea" name="descripcion">
        Ingredientes: <input type="textarea" name="ingredientes">
        Preparacíón: <input type="textarea" name="preparacion">
        <input type="submit" value="Agregar receta">
    </form>
</div>



{%endblock%}